<div class="col-md-3 col-sm-6 mb-4">
    <div class="card text-bg-dark mb-3">
        <a href="<%- url %>">
            <img class="card-img-top" src="<%- poster %>" alt="<%- title %>">
        </a>
        <div class="card-body">
            <h5 class="card-title text-nowrap text-truncate text-warning"><%- title %></h5>
            <div class="d-flex">
                <form action="<%= APP_URL %>/delete-from-watchlist" method="post" class="w-25 mt-2 me-2">
                    <input type="hidden" name="imdbID" value="<%- id %>">
                    <button type="submit" class="btn btn-danger">
                        <i class="bi-x-circle-fill px-1"></i>
                    </button>
                </form>
                <a class="btn btn-primary w-100 mt-2" href="<%- url %>">
                    <i class="bi-collection-play-fill px-1"></i> Watch Now
                </a>
            </div>
        </div>
    </div>
</div>
