<div class="col-md-3 col-sm-6 mb-4">
    <div class="card bg-dark bg-gradient mb-3 shadow-lg border border-0">
        <a href="<%- url %>">
            <img class="card-img-top" src="<%- poster %>" alt="<%- title %>">
        </a>
        <div class="card-body">
            <h5 class="card-title text-nowrap text-truncate text-warning"><%- title %></h5>
            <a class="btn btn-primary w-100" href="<%- url %>">
                <i class="bi-collection-play-fill px-1"></i> Watch Now
            </a>
        </div>
    </div>
</div>
