<div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
    <div class="card bg-dark bg-gradient mb-3 shadow-lg border border-0">
        <a href="<%- url %>">
            <img class="card-img-top" src="<%- poster %>" alt="<%- title %>" onerror="this.onerror=null;this.src='<%= APP_URL %>/images/no-binger.jpg';">
        </a>
        <div class="card-body">
            <h5 class="card-title text-nowrap text-truncate text-warning"><%- title %></h5>
            <div class="d-flex">
                <form action="<%= APP_URL %>/watchlist/delete" method="post" class="col-6 col-lg-3 mt-2 me-2">
                    <input type="hidden" name="imdbId" value="<%- id %>">
                    <button type="submit" class="btn btn-danger w-100">
                        <i class="bi-x-circle-fill px-1"></i>
                    </button>
                </form>
                <a class="btn btn-primary col-6 col-lg-9 mt-2" href="<%- url %>">
                    <i class="d-none d-lg-inline fst-normal"><i class="bi-collection-play-fill px-1"></i> Watch Now</i>
                    <i class="d-inline d-lg-none fst-normal"><i class="bi-collection-play-fill px-1"></i></i>
                </a>
            </div>
        </div>
    </div>
</div>
