<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binger Watch Free Movies & TV Series</title>
    <meta name="description" content="Free app for searching, browsing and watching movies and TV shows.">
<%- include('./partials/meta-base.ejs') -%>
<%- include('./partials/ld/index.ejs') -%>
</head>
<%# This imports the <body> tag and renders the navigation/search bar. -%>
<%- include('./partials/navigation.ejs') -%>
    <!-- New Movies -->
    <div class="container">
        <div class="row">
            <h1 class="display-4 my-4 text-warning">New Movies</h1>
            <% newMovies.forEach(movie => { %>
                <%- include('./partials/card.ejs', {
                    url: `${APP_URL}/view/${movie.imdb_id}/movie`,
                    poster: movie.poster,
                    title: movie.title
                })%>
            <% }); %>
        </div>
    </div>

    <hr class="border border-secondary border-2 opacity-50">

    <!-- New TV Shows -->
    <div class="container">
        <div class="row">
            <h1 class="display-4 my-4 text-warning">New TV Shows</h1>
            <% newSeries.forEach(series => { %>
                <%- include('./partials/card.ejs', {
                    url: `${APP_URL}/view/${series.imdb_id}/series`,
                    poster: series.poster,
                    title: series.title
                })%>
            <% }); %>
        </div>
    </div>
<%- include('./partials/footer.ejs') -%>
