<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binger Watch Free Movies & TV Series</title>
    <meta name="description" content="Free app for searching, browsing and watching movies and TV shows.">
<%- include('./partials/meta-base.ejs') -%>
<%- include('./partials/ld/index.ejs') -%>
</head>
<%# This imports the <body> tag and renders the navigation/search bar. -%>
<%- include('./partials/navigation.ejs') -%>
    <!-- New Movies -->
    <div class="container">
        <div class="row">
            <h1 class="display-4 my-4 text-warning">New Movies</h1>
            <% newMovies.forEach(movie => { %>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card text-bg-dark mb-3">
                    <a href="<%= APP_URL %>/view/<%= movie.imdb_id %>/movie">
                        <img src="<%= movie.poster %>" alt="<%= movie.title %>" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-nowrap overflow-hidden text-warning"><%= movie.title %></h5>
                        <a href="<%= APP_URL %>/view/<%= movie.imdb_id %>/movie" class="btn btn-primary w-100">
                            <i class="bi-play-btn-fill px-1"></i> Watch Now
                        </a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

    <hr class="border border-secondary border-2 opacity-50">

    <!-- New TV Shows -->
    <div class="container">
        <div class="row">
            <h1 class="display-4 my-4 text-warning">New TV Shows</h1>
            <% newSeries.forEach(show => { %>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card text-bg-dark mb-3">
                    <a href="<%= APP_URL %>/view/<%= show.imdb_id %>/series">
                        <img class="card-img-top" src="<%= show.poster %>" alt="<%= show.title %>">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-nowrap overflow-hidden text-warning"><%= show.title %></h5>
                        <a class="btn btn-primary w-100" href="<%= APP_URL %>/view/<%= show.imdb_id %>/series">
                            <i class="bi-collection-play-fill px-1"></i> Watch Now
                        </a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
<%- include('./partials/footer.ejs') -%>
