<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %> Profile</title>
    <meta name="description" content="<%= APP_DESCRIPTION _%>">
<%- include('./partials/meta/base.ejs') -%>
</head>
<%- include('./partials/navigation.ejs') -%>
    <div class="container">
        <h1>Profile</h1>
        <p>Welcome, <%= user.username %></p>
        <a href="/logout" class="btn btn-secondary">Logout</a>
        <h2>Watchlist</h2>
        <% if (user.watchlist.length > 0) { %>
            <ul class="list-group">
                <% user.watchlist.forEach(item => { %>
                    <li class="list-group-item">
                        <img src="<%= item.poster %>" alt="<%= item.title %>" style="width: 50px; height: auto;">
                        <strong><%= item.title %></strong>
                        <span>(<%= item.type %>)</span>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>Your watchlist is empty.</p>
        <% } %>
    </div>
<%- include('./partials/footer.ejs') -%>
