<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %> Profile</title>
    <meta name="description" content="<%= APP_DESCRIPTION _%>">
<%- include('./partials/meta/base.ejs') -%>
</head>
<%- include('./partials/navigation.ejs') -%>
    <div class="container">
        <%- include('./partials/alerts.ejs') -%>
        <div class="row">
            <h1 class="display-4 my-4 text-warning">Welcome <%= user.username %></h1>
            <div class="d-flex">
                <a class="btn btn-outline-danger w-50 mx-2" href="<%= APP_URL %>/watchlist">
                    <i class="bi-box-arrow-left px-1"></i> Log out Account
                </a>
                <a class="btn btn-success w-50 mx-2" href="<%= APP_URL %>/watchlist">
                    <i class="bi-card-checklist px-1"></i> View Watchlist
                </a>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') -%>
