<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= query _%> - Binger Watch Free Movies & TV Series</title>
    <meta name="description" content="Free app for watching <%= query _%> movies and TV shows.">
<%- include('./partials/meta-base.ejs') -%>
<%- include('./partials/ld/search.ejs') %>
</head>
<%- include('./partials/navigation.ejs') -%>
    <!-- Search Results -->
    <div class="container">
        <div class="row">
            <h1 class="display-4 my-4 text-warning text-capitalize"><%= query %></h1>
            <% results.forEach(result => { %>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card text-bg-dark mb-3">
                    <a href="<%= APP_URL %>/view/<%= result.imdbID %>/<%= type === 'movie' ? 'movie' : 'series' %>">
                        <img class="card-img-top" src="<%= result.Poster !== 'N/A' ? result.Poster : '/images/no_image_available.png' %>" alt="<%= result.Title %>">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-nowrap overflow-hidden"><%= result.Title %> (<%= result.Year %>)</h5>
                        <a class="btn btn-primary w-100" href="<%= APP_URL %>/view/<%= result.imdbID %>/<%= type === 'movie' ? 'movie' : 'series' %>">
                            <i class="bi-play-btn-fill px-1"></i> Watch Now
                        </a>
                    </div>
                </div>
            </div>
            <% }); %>
            <div class="text-center p-4">
                <a href="<%= APP_URL %>/" class="btn btn-warning btn-md-lg">Back to Home</a>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') -%>
