<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= query _%> - Binger Watch Free Movies & TV Series</title>
    <meta name="description" content="Free app for watching <%= query _%> movies and TV shows.">
<%- include('./partials/meta-base.ejs') -%>
<%- include('./partials/ld/search.ejs') %>
</head>
<%- include('./partials/navigation.ejs') -%>
    <!-- Search Results -->
    <div class="container">
        <div class="row">
            <h1 class="display-4 my-4 text-warning text-capitalize"><%= query %></h1>
            <% results.forEach(result => { %>
                <%- include('./partials/card.ejs', {
                    url: `${APP_URL}/view/${result.imdbID}/${type === 'movie' ? 'movie' : 'series'}`,
                    poster: result.Poster !== 'N/A' ? result.Poster : `${APP_URL}/images/no-binger.jpg`,
                    title: `${result.Title} (${result.Year})`
                })%>
            <% }); %>
            <div class="text-center p-4">
                <a href="<%= APP_URL %>/" class="btn btn-warning btn-md-lg">Back to Home</a>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') -%>
