<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if (data.Response === 'False') { -%>
    <title><%= APP_NAME %> <%= APP_SUBTITLE _%></title>
    <meta name="description" content="<%= APP_DESCRIPTION _%>">
<% } else { -%>
    <title><%= data.Title %> (<%= data.Year %>) - <%= APP_NAME %> <%= APP_SUBTITLE _%></title>
    <meta name="description" content="<%= data.Plot %>">
<% } -%>
<%- include('./partials/meta/base.ejs') -%>
<% if (data.Response !== 'False') { -%>
<%- include('./partials/meta/og-view.ejs') -%>
<%- include('./partials/ld/view.ejs') -%>
<% } -%>
</head>
<%- include('./partials/navigation.ejs') -%>
<div class="container my-4">
<% if (data.Response !== 'False') { -%>
    <div class="row text-white my-4">
        <h1 class="display-6 text-warning">
        <% if (data.Type === 'series') { -%>
            <i class="bi-collection-play-fill px-1"></i>
        <% } else if (data.Type === 'movie') { -%>
            <i class="bi-play-btn-fill px-1"></i>
        <% } -%>
            <%= data.Title %> (<%= data.Year %>)
        </h1>
        <h5 class="card-subtitle"><%= data.Plot %></h5>
    </div>
<% } %>
    <div class="ratio ratio-16x9">
        <iframe src="<%= iframeSrc %>" referrerpolicy="origin" allow="autoplay; fullscreen" sandbox="allow-scripts" class="w-100" allowfullscreen></iframe>
    </div>
    <script>
        // Block popup windows initiated by the embedded player
        window.open = () => null;
    </script>
    <% if (data.Type === 'series') { -%>
    <div class="hstack gap-3">
        <div class="pt-3">
            <a href="<%= `${APP_URL}/view/${id}/${type}/${season}/${Number(episode) - 1}` %>" class="btn btn-outline-info btn-md-lg">
                <i class="bi bi-caret-left-square"></i> Previous Episode
            </a>
        </div>
        <div class="pt-3 ms-auto d-none d-sm-inline">
            <a href="<%= APP_URL %>/watchlist" class="btn btn-outline-light btn-md-lg"><i class="bi-view-list"></i> Watchlist</a>-->
        </div>
        <div class="pt-3 ms-auto">
            <a href="<%= `${APP_URL}/view/${id}/${type}/${season}/${Number(episode) + 1}` %>" class="btn btn-success btn-md-lg">
                Next Episode <i class="bi bi-caret-right-square"></i>
            </a>

        </div>
    </div>
    <% } -%>
<% if (data.Response !== 'False') { -%>
    <div class="row text-white my-4">
        <div class="col-12 col-md-6">
            <p>Cast: <%= data.Actors %></p>
            <p>Runtime: <%= data.Runtime %></p>
            <p>Genre: <%= data.Genre %></p>
        <% if (Array.isArray(data.Ratings)) { -%>
            <% data.Ratings.forEach(rating => { -%>
                <p><%= rating.Source %> - <%= rating.Value %></p>
            <% }); -%>
        <% } -%>
        </div>
        <div class="col-12 col-md-6">
            <p>Director: <%= data.Director %></p>
            <p>Rated: <%= data.Rated %></p>
            <p>Country: <%= data.Country %></p>
            <p>Language: <%= data.Language %></p>
        </div>
    </div>
<% } %>
    <div class="row mt-2">
        <div class="text-center">
            <a href="<%= APP_URL %>/" class="btn btn-outline-info btn-md-lg"><i class="bi-house"></i> Home</a>
            <a href="<%= APP_URL %>/watchlist" class="btn btn-outline-success btn-md-lg"><i class="bi-view-list"></i> Watchlist</a>
            <a href="javascript:history.back()" class="btn btn-warning btn-md-lg"><i class="bi-search"></i> Back to Search</a>
        </div>
    </div>
<%- include('./partials/disqus.ejs') -%>
</div>
<%- include('./partials/footer.ejs') -%>
