<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if (data.Response === 'False') { -%>
    <title>Binger Watch Free Movies & TV Series</title>
    <meta name="description" content="Free app for searching, browsing and watching movies and TV shows.">
<% } else { -%>
    <title><%= data.Title %> (<%= data.Year %>) - Binger Watch Free Movies & TV Series</title>
    <meta name="description" content="<%= data.Plot %>">
<% } -%>
    <link rel="canonical" href="<%= url %>"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png"/>
    <link rel="manifest" href="/images/favicons/site.webmanifest"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "<%= data.Type === 'movie' ? 'Movie' : 'TVSeries' -%>",
          "name": "<%= data.Title %>",
          "url": "https://binger.uk/view/<%= data.imdbID -%>",
          "image": "<%= data.Poster -%>",
          "description": "<%= data.Plot -%>",
          "director": "<%= data.Director -%>",
          "actor": [
        <% data.Actors.split(', ').forEach((actor, index, array) => { %>
                {
                  "@type": "Person",
                  "name": "<%= actor -%>"
              }<% if (index < array.length - 1) { %>,<% } %>
        <% }); -%>
            ],
            "datePublished": "<%= data.Released -%>",
            "genre": "<%= data.Genre -%>"<% if (data.imdbRating !== 'N/A') { %>,
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "<%= data.imdbRating -%>",
                "ratingCount": "<%= data.imdbVotes.replace(/,/g, '') -%>"
            }<% } %>
        }
    </script>
</head>
<body class="bg-dark">
<div class="container my-4">
<% if (data.Response !== 'False') { %>
    <div class="row text-white my-4">
        <h1 class="display-5 text-warning">
        <% if (data.Type === 'series') { -%>
            <i class="bi-collection-play-fill px-1"></i>
        <% } else if (data.Type === 'movie') { -%>
            <i class="bi-play-btn-fill px-1"></i>
        <% } -%>
            <%= data.Title %> (<%= data.Year %>)
        </h1>
        <h2><%= data.Plot %></h2>
        <div class="row mt-2">
            <div class="col-6">
                <p>Cast: <%= data.Actors %></p>
                <p>Runtime: <%= data.Runtime %></p>
                <p>Genre: <%= data.Genre %></p>
            <% if (Array.isArray(data.Ratings)) { -%>
                <% data.Ratings.forEach(rating => { -%>
                    <p><%= rating.Source %> - <%= rating.Value %></p>
                <% }); -%>
            <% } -%>
            </div>
            <div class="col-6">
                <p>Director: <%= data.Director %></p>
                <p>Rated: <%= data.Rated %></p>
                <p>Country: <%= data.Country %></p>
                <p>Language: <%= data.Language %></p>
            </div>
        </div>
    </div>
<% } %>
    <div class="ratio ratio-16x9">
        <iframe src="<%= iframeSrc %>" allow="autoplay; fullscreen" allowfullscreen="yes" class="w-100"></iframe>
    </div>
    <div class="text-center mt-4">
        <a href="/" class="btn btn-outline-warning btn-md-lg">Home</a>
        <a href="javascript:history.back()" class="btn btn-warning btn-md-lg">Back to Search</a>
    </div>
</div>
</body>
</html>
