<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if (data.Response === 'False') { -%>
    <title><%= APP_NAME %> <%= APP_SUBTITLE _%></title>
    <meta name="description" content="<%= APP_DESCRIPTION _%>">
<% } else { -%>
    <title><%= data.Title %> (<%= data.Year %>) - <%= APP_NAME %> <%= APP_SUBTITLE _%></title>
    <meta name="description" content="<%= data.Plot %>">
<% } -%>
<%- include('./partials/meta/base.ejs') -%>
<% if (data.Response !== 'False') { -%>
<%- include('./partials/meta/og-view.ejs') -%>
<%- include('./partials/ld/view.ejs') -%>
<% } -%>
</head>
<%- include('./partials/navigation.ejs') -%>
<div class="container my-4">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>
    <div class="row alert alert-danger alert-dismissible fade show" role="alert">
        <div class="d-none d-sm-inline col-auto mx-auto my-auto py-0">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> 
        </div>
        <div class="col">
            <strong>Before clicking Play</strong> on the video below you should install a popup blocker extension. We recommend 
            <a href="https://chromewebstore.google.com/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm" class="alert-link" target="_blank">uBlock Origin for Chrome</a> 
            as this has proven to block popups and ads successfully. We don't control the video player, else we'd block them ourselves for you!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
<% if (data.Response !== 'False') { -%>
    <div class="text-white my-4">
        <div class="d-flex flex-column flex-sm-row justify-content-between">
            <h1 class="display-6 text-warning mb-2 mb-sm-0 w-auto">
            <% if (data.Type === 'series') { -%>
                <i class="bi-collection-play-fill px-1"></i>
            <% } else if (data.Type === 'movie') { -%>
                <i class="bi-play-btn-fill px-1"></i>
            <% } -%>
                <%= data.Title %> (<%= data.Year %>)
            </h1>
        </div>
        <h5 class="card-subtitle mt-2"><%= data.Plot %></h5>
    </div>
<% } %>
    <% if (type === 'series' && seriesDetail) { %>
    <div class="series-layout">
        <div class="series-player">
            <div class="ratio ratio-16x9">
                <iframe src="<%= iframeSrc %>" referrerpolicy="origin" allow="autoplay; fullscreen" class="w-100"></iframe>
            </div>
        </div>
        <div class="series-episodes d-flex flex-wrap flex-md-column mt-2 mt-md-0">
            <%- include('./partials/series-buttons.ejs') -%>
            <% const currentSeason = seriesDetail.seasons.find(se => se.season === Number(season)) || { episodes: [] }; %>
            <% currentSeason.episodes.forEach(ep => { %>
                <a href="<%= `${APP_URL}/view/${id}/${type}/${season}/${ep.episode}` %>" class="btn btn-outline-info btn-sm text-start m-1 <%= Number(episode) === ep.episode ? 'active' : '' %>"><%= ep.episode %>. <%= ep.title || `Episode ${ep.episode}` %></a>
            <% }) %>
        </div>
        <div class="series-seasons d-flex flex-wrap mt-2 h-25">
            <% for (let s = 1; s <= seriesDetail.totalSeasons; s++) { %>
                <a href="<%= `${APP_URL}/view/${id}/${type}/${s}/1` %>" class="btn btn-outline-light btn-sm m-1 <%= Number(season) === s ? 'active' : '' %>">Season <%= s %></a>
            <% } %>
        </div>
        <% if (data.Response !== 'False') { -%>
        <div class="series-info">
            <div class="row text-white my-4">
                <div class="col-12 col-md-6">
                    <p>Cast: <%= data.Actors %></p>
                    <p>Runtime: <%= data.Runtime %></p>
                    <p>Genre: <%= data.Genre %></p>
                <% if (Array.isArray(data.Ratings)) { -%>
                    <% data.Ratings.forEach(rating => { -%>
                        <p><%= rating.Source %> - <%= rating.Value %></p>
                    <% }); -%>
                <% } -%>
                </div>
                <div class="col-12 col-md-6">
                    <p>Director: <%= data.Director %></p>
                    <p>Rated: <%= data.Rated %></p>
                    <p>Country: <%= data.Country %></p>
                    <p>Language: <%= data.Language %></p>
                </div>
            </div>
        </div>
        <% } -%>
    </div>
    <% } else { %>
    <div class="row">
        <div class="col-12">
            <div class="ratio ratio-16x9">
                <iframe src="<%= iframeSrc %>" referrerpolicy="origin" allow="autoplay; fullscreen" class="w-100"></iframe>
            </div>
            <% if (data.Response !== 'False') { -%>
            <div class="row text-white my-4">
                <div class="col-12 col-md-6">
                    <p>Cast: <%= data.Actors %></p>
                    <p>Runtime: <%= data.Runtime %></p>
                    <p>Genre: <%= data.Genre %></p>
                <% if (Array.isArray(data.Ratings)) { -%>
                    <% data.Ratings.forEach(rating => { -%>
                        <p><%= rating.Source %> - <%= rating.Value %></p>
                    <% }); -%>
                <% } -%>
                </div>
                <div class="col-12 col-md-6">
                    <p>Director: <%= data.Director %></p>
                    <p>Rated: <%= data.Rated %></p>
                    <p>Country: <%= data.Country %></p>
                    <p>Language: <%= data.Language %></p>
                </div>
            </div>
            <% } -%>
        </div>
    </div>
    <% } %>
    <div class="row mt-2">
        <div class="text-center">
            <a href="<%= APP_URL %>/" class="btn btn-outline-info btn-md-lg"><i class="bi-house"></i> Home</a>
            <a href="<%= APP_URL %>/watchlist" class="btn btn-outline-success btn-md-lg"><i class="bi-view-list"></i> Watchlist</a>
            <a href="javascript:history.back()" class="btn btn-warning btn-md-lg"><i class="bi-search"></i> Back to Search</a>
        </div>
    </div>
<%- include('./partials/disqus.ejs') -%>
</div>
<%- include('./partials/footer.ejs') -%>
